p {
    text-align: center;
}

.main-header {
    text-align: center;
}

.selection-content {
    display: flex;
    flex-direction: column;
}

.selection-button {
    height: 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lightblue-color {
    background-color:lightblue;
}

.lightpink-color {
    background-color:lightpink;
}

.luas-keliling-segitiga-header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
    background: bisque;
    text-align: center;
}

.luas-segitiga-content {
    display: flex;
    flex-direction: column;
}

.luas-segitiga-img {
    height: 300px;
    width: 300px;
    background-image: url('https://i.ibb.co.com/k4T1jNH/segitiga.jpg');
    background-size: cover;
    background-position: center;
    align-self: center;
}

.luas-segitiga-form-header {
    text-align: center;
}

.keliling-segitiga-form-header {
    text-align: center;
}

.input-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper>input {
    width: 65%;
}

input[type=number] {
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}

.main-content {
    display: flex;
}

.main-content>aside {
    flex: 1;
}

.button-calculate {
    padding: 8px;
    background-color: lightpink;
    border: transparent;
    border-radius: 5px;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}