p { /* semua paragraf */
    text-align: center;
}

.main-header { /* Untuk Welcome dan keterangan di bawahnya */
    text-align: center;
}

.selection-content {
    display: flex;
    flex-direction: column;
}

.selection-button {
    font-weight: bold;
    height: 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lightblue-color {
    background-color:rgb(175, 220, 235);
}

.lightpink-color {
    background-color:rgb(255, 205, 213);
}

.luas-keliling-segitiga-header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
    background: rgb(164, 158, 166);
    text-align: center;
}

.luas-keliling-jajargenjang-header {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
    background: rgb(164, 158, 166);
    text-align: center;
}

.luas-segitiga-content {
    display: flex;
    flex-direction: column;
}

.luas-jajargenjang-content {
    display: flex;
    flex-direction: column;
}

.luas-segitiga-img { /* image segitiga pink */
    height: 300px;
    width: 300px;
    background-image: url('https://i.ibb.co.com/k4T1jNH/segitiga.jpg');
    background-size: cover;
    background-position: center;
    align-self: center;
}

.luas-jajargenjang-img { /* image jajargenjang pink */
    height: 400px;
    width: 400px;
    background-image: url('https://i.ibb.co.com/t2YnWmT/jajargenjang-pink.jpg');
    background-size: cover;
    background-position: center;
    align-self: center;
}

.luas-segitiga-form-header {
    text-align: center;
}

.keliling-segitiga-form-header {
    text-align: center;
}

.luas-jajargenjang-form-header {
    text-align: center;
}

.keliling-jajargenjang-form-header {
    text-align: center;
}

.input-wrapper { /* Style peletakan kolom input */
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper>input { /* tambahan style pada kolom input */
    width: 65%;
}

input[type=number] { /* tampilan kolom input */
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}

.main-content { /* konten utama / keseluruhan */
    display: flex;
}

.main-content>aside {
    flex: 2;
}

@media only screen and (max-width: 610px) { /* mengubah tampilan sesuai width device */
    .main-content {
        flex-direction: column;
    }
}

.button-calculate { /* tampilan button calculate akhir segitiga */
    padding: 8px;
    background-color: lightpink;
    border: transparent;
    border-radius: 5px;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}

.button-calculate2 { /* tampilan button calculate akhir jajargenjang */
    padding: 8px;
    background-color: lightblue;
    border: transparent;
    border-radius: 5px;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}